@font-face {
  font-family: 'league';
  src: url(/dist/assets/webfonts/leaguespartan/LeagueSpartanVariable.woff2) format('woff2-variations');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo300';
  src: url(/dist/assets/webfonts/museo/museo300.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo500';
  src: url(/dist/assets/webfonts/museo/museo500.woff2) format('woff2');
  font-weight : normal;
  font-style : normal;
}

@font-face {
  font-family: 'museo700';
  src: url(/dist/assets/webfonts/museo/museo700.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maven';
  src: url(/dist/assets/webfonts/maven_Pro/MavenPro-VariableFont_wght.ttf) format('truetype-variations');
  font-variation-settings: 'wght'400, 'wght'900;
  font-style: normal;
}