$color_primary: rgba(95, 75, 232, 1);
$color_secondary: rgba(247, 77, 28, 1);
$color_card_active: rgba(255, 239, 230, 1);
$color_grey:rgba(140, 134, 130, 1);
$color_comp_primary: complement($color_primary);
$color_light_primary: lighten($color_primary, 70);
$color_dark_primary: darken($color_primary, 30);
$color_light_secondary: lighten($color_secondary, 70);
$color_dark_secondary: darken($color_secondary, 30);
$body_color: #f9f9f9; 
$header_color: rgba(53, 50, 55, 1);
$breakpoint_mobile: 800px;
$breakpoint_tablet: 1024px;
$color_text_black: #353237;
$fontsize_h1: 51px;
$radiuscercle: 50%;
$offset-icon: 1px;
$dropshadow: rgba(247, 77, 28, 0.14);
$linear_grad_photo: linear-gradient(306deg, rgba(75, 232, 210, 0.73) 18.43%, rgba(63, 60, 151, 0.21) 30.74%, rgba(95, 75, 232, 0.69) 48.04%), url(<path-to-image>), lightgray 50% / cover no-repeat;
$nom_card: rgba(75, 67, 106, 1);
